# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Compiled files and folders
dist/
build/
coverage/
*.log

# OS and editor-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Test output
jest-output/

